<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="M3_Uditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <M3_Uditor.Properties.Settings>
            <setting name="AskDeleteGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AskDeleteStream" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VlcPath" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamRequestTimeout" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CheckLinksAsync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecentFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="ExportInactiveStreams" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStartDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoveCountryTag" serializeAs="String">
                <value>False</value>
            </setting>
        </M3_Uditor.Properties.Settings>
    </userSettings>
</configuration>